@use 'sass:meta';

:root {
  --sites-menu-width: 17rem;
  --sakai-bg-color: #fff;
}

body.is-collapsed-sites {
  --sites-menu-width: 4.5rem;
}

@media (prefers-color-scheme: dark) {
  // Para el prototipo inicial
  :root {
    color-scheme: light !important;
  }
}

html {
  color: var(--p-slate-900);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  border-radius: 100px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.09);
}
